* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
    }
}

nav {
    background-color: rgb(78, 16, 103);
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    
    a {
        color: white;
        text-decoration: none;
    }
}


#Moments {
    text-align: center;
    margin: 0;
    background-color: rgb(222, 217, 217);
    padding: 1rem;

    a {
        color: rgb(78, 16, 103);
        text-decoration: none;
        font-weight: bold;
    }

    hr.rounded {
        border-top: 4px solid black;
        border-radius: 2pc;
        margin: 1rem;
    }
    
    img{
        border-radius: 20px;
        max-width: 100%;
        height: auto;
    }
}


#Guests {
    a {
        color: rgb(78, 16, 103);
        text-decoration: none;
        font-weight: bold;
        padding-top: 2rem;
    }
}

#activites {
    background-color: rgb(222, 217, 217);
    margin: 0;
    padding: 1rem;

    img {
        border-radius: 20px;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
}

#food {
    background-color: rgb(222, 217, 217);
    margin: 0;
    padding: 1rem;

    img {
        border-radius: 20px;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
}

#room {
    background-color: rgb(222, 217, 217);
    margin: 0;
    padding: 1rem;

    img {
        border-radius: 20px;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
}

#spa {
    background-color: rgb(222, 217, 217);
    margin: 0;
    padding: 1rem;

    img {
        border-radius: 20px;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
}

#reviews {
    background-color: rgb(222, 217, 217);
    margin: 0;
    padding: 1rem;
}


footer {
    background-color: rgb(78, 16, 103);
    color: white;
    text-align: center;
    padding: 0.2rem;
}



@media screen and (max-width: 650px) {
    button {
        display: block;
        font-size: large;
        padding: 5px;
        background-color: rgb(78, 16, 103);
        color: white;
    }

    nav {
        background-color: rgb(78, 16, 103);
        flex-direction: column;
        position: absolute;
        z-index: 100;
        display: none;
        width: 50%;
        left: 0%;
        top: 30%
        
    }

    nav.active{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: larger;
    }

    nav li {
        display: block;
        text-align: center;
        margin-right: 0;
}
