* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
    }
}

nav {
    background-color: rgb(78, 16, 103);
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    
    a {
        color: white;
        text-decoration: none;
    }
}

#weather {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    background-color: rgb(222, 217, 217);
    margin: 2rem;
    border-radius: 10px;
    
    li{
        margin: 1rem;
        font-weight: bolder;
        list-style-type: none;
        display:inline-block
    }
    
}

main{
    background-color: rgb(222, 217, 217);

}

hr.rounded {
    border-top: 4px solid black;
    border-radius: 2pc;
    margin: 1rem;
}

#Moments {
    text-align: center;
    margin: 1rem;
    padding: 1rem;

    a {
        color: rgb(78, 16, 103);
        text-decoration: none;
        font-weight: bold;
    }

    img{
        border-radius: 20px;
        max-width: 100%;
        height: auto;
    }
}

#Guests {
    background-color: rgb(187, 184, 190);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    a {
        color: rgb(78, 16, 103);
        text-decoration: none;
        font-weight: bold;
        padding-top: 2rem;
    }
}

#activites {
    background-color: rgb(222, 217, 217);
    margin: 0;
    padding: 1rem;

    img {
        border-radius: 20px;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
}

#Booking {
    background-color: rgb(187, 184, 190);
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
}

#food {
    background-color: rgb(222, 217, 217);
    margin: 0;
    padding: 1rem;

    img {
        border-radius: 20px;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
}

#dining {
    background-color: rgb(187, 184, 190);
    padding:2rem;
    margin: 1rem;
    border-radius: 10px;
}

#room {
    background-color: rgb(222, 217, 217);
    margin: 0;
    padding: 1rem;

    img {
        border-radius: 20px;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
}

#accessible {
    background-color: rgb(187, 184, 190);
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
}

#spa {
    background-color: rgb(222, 217, 217);
    margin: 0;
    padding: 1rem;

    img {
        border-radius: 20px;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }
}

#notes {
    background-color: rgb(187, 184, 190);
    padding:2rem;
    margin: 1rem;
    border-radius: 10px;
}

#review1 {
    background-color: rgb(187, 184, 190);
    padding:1rem;
    margin: 1rem;
    border-radius: 10px;
}

#review2 {
    background-color: rgb(187, 184, 190);
    padding:1rem;
    margin: 1rem;
    border-radius: 10px;
}

#review3 {
    background-color: rgb(187, 184, 190);
    padding:1rem;
    margin: 1rem;
    border-radius: 10px;
}

#review4 {
    background-color: rgb(187, 184, 190);
    padding:1rem;
    margin: 1rem;
    border-radius: 10px;
}

#review5 {
    background-color: rgb(187, 184, 190);
    padding:1rem;
    margin: 1rem;
    border-radius: 10px;
}

footer {
    background-color: rgb(78, 16, 103);
    color: white;
    text-align: center;
    padding: 0.2rem;
}

button {
    display: none;
}

@media screen and (max-width: 650px) {
    button {
        display: block;
        font-size: large;
        padding: 5px;
        background-color: rgb(78, 16, 103);
        color: white;
    }

    nav {
        background-color: rgb(78, 16, 103);
        flex-direction: column;
        position: absolute;
        z-index: 100;
        display: none;
        width: 50%;
        left: 0%;
        top: 30%
        
    }

    nav.active{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: larger;
    }

    nav li {
        display: block;
        text-align: center;
        margin-right: 0;
    }