* {
	box-sizing: border-box;
}

header {
    text-align: center;
}

#Navbar {
    background-color: rgb(78, 16, 103);
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    
    a {
        color: white;
        text-decoration: none;
    }
}

#Moments {
    text-align: center;
    margin: 0;
    background-color: rgb(222, 217, 217);
    padding: 1rem;

    hr.rounded {
        border-top: 4px solid black;
        border-radius: 2pc;
        margin: 1rem;
    }
    
}

footer {
    background-color: rgb(78, 16, 103);
    color: white;
    text-align: center;
    padding: 0.2rem;
}
